<launch>
	<arg name="plannerType" default="mcts" />
  <arg name="docked" default="false" />

	<node pkg="dmce_nodes" type="nodeMain" name="GroundTruthMapServer" output="screen" args="0 GroundTruthMapServer" />

	<node pkg="dmce_nodes" type="nodeMain" name="GlobalMapServer" output="screen" args="0 GlobalMapServer" />

  <node pkg="dmce_nodes" type="nodeMain" name="RobotMapServer" output="screen" args="0 RobotMapServer" />

	<node pkg="dmce_nodes" type="nodeMain" name="ConnectivityServer" output="screen" args="0 ConnectivityServer" />

	<node pkg="dmce_nodes" type="nodeMain" name="LoggingServer" output="screen" args="0 LoggingServer">
		<param name="plannerType" type="string" value="$(arg plannerType)" />
	</node>

  <!-- Extra nodes for mobile pigeon -->
  <group unless="$(arg docked)">
    <remap from="/groundStation/RobotPosition" to="/robot0/RobotPosition" />
    <node pkg="dmce_nodes" type="nodeMain" name="SensorEmulatorServer" output="screen" args="$0 SensorEmulatorServer" />
    <node pkg="dmce_nodes" type="nodeMain" name="NavigationServer" output="screen" args="0 NavigationServer" />
    <node pkg="dmce_nodes" type="nodeMain" name="PathfindingServer" output="screen" args="0 PathfindingServer" />
    <node pkg="dmce_nodes" type="nodeMain" name="PlannerServer" output="screen" args="0 PlannerServer" >
      <param name="plannerType" type="string" value="pigeon" />
    </node>
    <node pkg="dmce_nodes" type="nodeMain" name="TransformServer" output="screen" args="0 TransformServer" />
  </group>

  <!-- Docked pigeon node -->
  <node pkg="dmce_nodes" type="dockedPigeon" name="pigeon" output="screen" if="$(arg docked)"/>

	<node pkg="grid_map_visualization" type="grid_map_visualization" name="MapViz" output="screen">
		<rosparam>
            grid_map_topic: /groundStation/map
            grid_map_visualizations:
              - name: map
                type: occupancy_grid
                params:
                 layer: occupancy
                 data_min: 0.0
                 data_max: 100.0
        </rosparam>
	</node>

	<node pkg="grid_map_visualization" type="grid_map_visualization" name="mapViz" output="screen">
		<rosparam>
            grid_map_topic: /groundStation/inflatedMap
            grid_map_visualizations:
              - name: inflatedMap
                type: occupancy_grid
                params:
                 layer: occupancy
                 data_min: 0.0
                 data_max: 100.0
        </rosparam>
	</node>

	<node pkg="grid_map_visualization" type="grid_map_visualization" name="mapviz" output="screen">
		<rosparam>
            grid_map_topic: /groundStation/GlobalMap
            grid_map_visualizations:
              - name: GlobalMap
                type: occupancy_grid
                params:
                 layer: occupancy
                 data_min: 0.0
                 data_max: 100.0
        </rosparam>
	</node>
</launch>
